@media print {
body {-webkit-print-color-adjust: exact;}
}

#logo{
    color: white;
    background-color: black;
    width: 150px;
    height: 150px;
}
#invoice{
    background-color: black !important;
    color: white !important;
    font-family: 'Exo';
    font-size: 18px;
}
.name{
    font-size: 45px;
    font-family: 'Exo';
    font-weight: bold;
}
.des{
    font-size: 20px;
    font-family: 'Exo';
}
.title{
    font-size: 30px;
    font-family: 'Exo';
    font-weight: bold;
    background-color:  #5cb85c;
    color: white;
}
.addr{
    font-size: 20px;
    font-family: 'Exo';
}
.sno{
    width: 10%;
    font-size: 20px;
}
.product{
    width: 60%;
    font-size: 20px;
}
.quantity{
    width: 10%;
    font-size: 20px;
}
.rate{
    width: 10%;
    font-size: 20px;
}
.total{
    width: 20%;
    font-size: 20px;
}
.subtotal{
    font-size: 20px;
}